@font-face {
    font-family: "bareonBatang";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "bareonBatang";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bareonBatang/bareonBatang-Bold.ttf") format("truetype");
    font-display: swap;
} 
.bareonBatang {
    font-family: "bareonBatang";
}
.bareonBatang400 {
    font-family: "bareonBatang";
    font-weight: 400;
}
.bareonBatang700 {
    font-family: "bareonBatang";
    font-weight: 700;
}